.background {
    background-image: url(../../../assets/supplierBg2.avif);
    background-size: cover;            
    background-position: center;       
    background-repeat: no-repeat;
    min-height: 100vh;            
    position: relative;       
    display: flex;
    flex-direction: column;
  }
  
  
  .arrow_btn {
    position: absolute;
    top: 80px;
    left: 40px;
  }
  

  .left-arrow-icon {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .left-arrow-icon:hover {
    transform: scale(1.1);
  }

  .add_form {
    background-color: rgba(179, 174, 174, 0.95);
    max-width: 1000px;
    margin: 60px auto;
    padding: 60px;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
    
  }
  
  
  .add_supplier_heading {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #2e2e2e;
  }

  .details .label {
    display: block;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #444;
  }
  
  
  .details .input {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fdfdfd;
    transition: border-color 0.3s;
  }
  
  .details .input:focus {
    border-color: #3FC060;
    outline: none;
  }
  
  
  .submit_btn {
    width: 100%;
    padding: 12px;
    background-color: #3FC060;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit_btn:hover {
    background-color: #34a851;
  }

  .error {
    color: red;
    font-size: 13px;
    margin-top: -12px;
    margin-bottom: 10px;
  }
  
  